h1.title
  | Bulma
p.subtitle
  | Modern CSS framework based on 
  a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox') Flexbox
.field
  .control
    input.input(type='text', placeholder='Input')
.field
  p.control
    span.select
      select
        option Select dropdown
.buttons
  a.button.is-primary Primary
  a.button.is-link Link
