p Mais c'est monstrueux ce qui est en train de se passer, et je n'avais rien capter !!!!
p peut-on rêver de mieux ?
p je ne crois pas non ...
p et bien, si, je crois que c'est ce qui est en train de se passer
